table {
  width: 100% !important;
}
.auto-resize {
  table {
    table-layout: auto !important;
  }
}
.el-table {
  border: none;
}

.el-table td {
  border-bottom-color: #dddddd;
}

.el-card__header {
  border-bottom-width: 0;
}

.el-table .first-ac {
  background-color: #33CC99;
  color: #3c763d;
}

.el-table .ac {
  background-color: #dff0d8;
  color: #3c763d;
}

.el-table .wa {
  color: #a94442;
  background-color: #f2dede;
}

.el-dialog__footer {
  border-top-width: 0;
  padding: 0 18px 20px 18px;
}
.el-dialog__body {
  padding: 18px;
}
